@define-color background rgba(30, 30, 20, 0.6);
@define-color shadow rgba (0, 0, 0, 1);
@define-color shadow2 rgba (0, 0, 0, 0.15);
@define-color inactive_border rgba(120, 120, 120, 0.2);
@define-color active_border_1 rgba(255, 234, 115, 0.9);
@define-color active_border_2 rgba(233, 162, 48, 0.8);
@define-color font #D6D6D7;

* {
	border: none;
	font-size: 14px;
	font-family: "IosevkaTermSlab Nerd Font, IosevkaTermSlab NF, Terminus Nerd Font, Terminus NF";
	font-weight: bold;
	color: @font;
}

window#waybar {
	background: transparent;
	}

.modules-left {
	background: transparent;
	padding-right: 4px;
	margin-top: 3px;
}

.modules-center {
	background: transparent;
	padding: 0px 4px;
	margin-top: 3px;

}

.modules-right {
	background: transparent;
	padding-left: 4px;
	margin-top: 3px;
}

/*workspaces*/
#workspaces {
	margin-left: 6px;
}

#workspaces button {
	background: @background;
	border-style: solid;
	border-width: 3px;
	border-color: @inactive_border;
	border-radius: 6px;
	box-shadow: 0px 0px 2px 1px @shadow, 0px 0px 1px 1px @shadow2, 0px 0px 1px 1px @shadow2 inset;
	margin: 4px;
	padding: 1px 13px 1px 7px;
}



/* window */

#window {
	background: @background;
	border-style: solid;
	border-width: 3px;
	border-color: @active_border_1;
	border-radius: 6px;
	/*border-image: url('~/Downloads/border.png') 40% stretch;*/
	border-color: @active_border_1;
	box-shadow: 0px 0px 2px 1px @shadow, 0px 0px 1px 1px @shadow2, 0px 0px 1px 1px @shadow2 inset;
	margin: 4px 4px 4px 6px;
	padding: 2px 8px 2px 8px;
}
/*
 ::before {
	border-image: linear-gradient(to bottom, @active_border_1 20%, @active_border_2 80%) 1;
 } 
*/
window#waybar.empty #window {
	background: transparent;
	border: none;
	box-shadow: none;
}

/*default inactive modules*/
#pulseaudio,
#bluetooth,
#network,
#backlight,
#battery {
	background: @background;
	border-style: solid;
	border-width: 3px;
	border-color: @inactive_border;
	border-radius: 6px;
	box-shadow: 0px 0px 2px 1px @shadow, 0px 0px 1px 1px @shadow2, 0px 0px 1px 1px @shadow2 inset;
	margin: 4px 4px 4px 4px;
	padding: 2px 9px;
}

/*single icon tools*/
#clock-hidden,
#tray-hidden,
#utils {
	background: @background;
	border-style: solid;
	border-width: 3px;
	border-color: @inactive_border;
	border-radius: 6px;
	box-shadow: 0px 0px 2px 1px @shadow, 0px 0px 1px 1px @shadow2, 0px 0px 1px 1px @shadow2 inset;
	margin: 4px;
	padding: 0px;
}

#clock,
#clock.date,
#tray,
#custom-group-opener {
	background: transparent;
	margin: 4px 4px 1px 4px;
	padding: 0px 6px 0px 2px;
	border-radius: 1px;
	border-color: @inactive_border;
}


#custom-colorpicker,
#custom-onscreen-keyboard,
#custom-rotate-screen {
	background: transparent;
	margin: 4px 6px 1px 4px;
	padding: 0px 8px 0px 2px;
	border-bottom: 3px solid;
	border-radius: 1px;
	border-color: @inactive_border;

}

/*right most module of rhs*/
#custom-power {
	background: @background;
	border-style: solid;
	border-width: 3px;
	border-color: @inactive_border;
	border-radius: 6px;
	box-shadow: 0px 0px 2px 1px @shadow, 0px 0px 1px 1px @shadow2, 0px 0px 1px 1px @shadow2 inset;
	margin: 4px 8px 4px 4px;
	padding: 1px 13px 1px 8px;
}

/*conditional styling of modules*/

#custom-onscreen-keyboard:hover,
#custom-rotate-screen:hover,
#custom-colorpicker:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#custom-power:hover,
#workspaces button:hover {
	border-color: @active_border_2;
}

#custom-onscreen-keyboard.open,
#workspaces button.active,
#pulseaudio:not(.muted),
#bluetooth.connected,
#network.wifi,
#network.ethernet,
#battery.charging {
	border-color: @active_border_1;
}

#battery.critical:not(.charging) {
	border-color: rgba(255, 0, 0, 0.8);
}

/* menus */
menu {
	background: @background;
	border-style: solid;
	border-width: 3px;
	border-color: @inactive_border;
	border-radius: 6px;
	box-shadow: 0px 0px 2px 1px @shadow, 0px 0px 1px 1px @shadow2, 0px 0px 1px 1px @shadow2 inset;
	margin: 4px;
	padding: 5px;
}

menuitem:hover {
	background: @active_border_2
}
